{{!< base}}
    <main class="sign-in-form">
      <h1 class="sign-in-form--header">Sign In</h1>
      <div>
        <label class="sign-in-form--label">Login</label>
        <input type="text" class="sign-in-form--input" />
      </div>
        <div>

        <label>Password</label>
        <input type="password" />
        <label class="sign-in-form--error">error</label>
      </div>
      <input type="submit" value="Sign In" class="sign-in-form--submit" />
      <a href="./registration.hbs" class="sign-in-form--link">Sign Up</a>
    </main>
