{{!< base}}

<main>
  <main class="main">
    <ul class="list">
      <li><a href="./auth.hbs">{{index.auth}}</a></li>
      <li><a href="./reg.hbs">{{index.reg}}</a></li>
      <li><a href="./404.hbs">{{index.e404}}</a></li>
      <li><a href="./500.hbs">{{index.e500}}</a></li>
    </ul>
  </main>

  {{> button label="Click me" }}
