---
title: Index | Parcel Bundler With Handlebars
---
{{!< base}}

<main>
  <main class="main">
    <h1>{{index.title}}</h1>
    <ul class="list">
      <li><a href="./auth.hbs">{{index.auth}}</a></li>
      <li><a href="./error.hbs">{{index.e404}}</a></li>
      <li><a href="./error.hbs">{{index.e404}}</a></li>
    </ul>
  </main>

  {{> button label="Click me" }}
