html, body {
    height: 100%;
    width: 100%;
}
html {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.body-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$blue: #3369F3;
$red: #FF2F2F;
$grey: #999;
$grey-ligh: #e3e3e3;
$white: #fff;
