.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px #e5e5e5;
    border:1px solid #e5e5e5;
    margin: 20% 10%;
    padding: 15px;
    border-radius: 10px;

    &--header {
        font-size: 1.5rem;
        font-weight: bold;
    }
}