<html>
	<head>
		<link rel="stylesheet" href="./main.scss" />
		<script src="./index.js" type="module"></script>
	</head>
	<body>
		<ul class="main-list">
			<li>
				<a href="">Sign In</a>
			</li>
			{# <li><a href="./register.html">Sign Up</a></li>
									<li><a href="./charts.html">Chats</a></li>
									<li><a href="./404.html">404</a></li>
									<li><a href="./500.html">500</a></li> #}
			{# <li><a href="./">1</a></li> #}

		</ul>
	</body>
</html>
