<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="./../main.scss" />
  <title>
    {{> title}}
  </title>
</head>
{{#block "body"}}
<body class="{{bodyclass}}">
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>
{{/block}}
</html>